/* CSS3 style selecter should be separated for legacy IEs. */
.blk .pagenavi {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #999;
  margin-bottom: 30px;
  padding: 5px 0 0;
}

.blk .pagenavi a {
  display: inline-block;
  color: #666;
  line-height: 2;
  text-decoration: none;
  border: 1px solid #E5E5E5;
  margin: 5px 5px 0 0;
  padding: 2px 8px;
}

.blk .pagenavi .current {
  color: #666;
  background: #E5E5E5;
  border: 1px solid #E5E5E5;
  font-weight: 700;
  line-height: 2;
}

.blk .pagenavi span,
.pagenavi a:hover {
  display: inline-block;
  margin: 5px 5px 0 0;
  padding: 2px 8px;
}

.blk .pagenavi a:hover {
  font-weight: 400;
  text-decoration: none;
  background: #E5E5E5;
  color: #666;
}

.pagenavi {
  text-align: left
}

.archivelist_t li,
.archivelist_c li,
.archivelist_m li {
  list-style-type: none;
  list-style: none outside;
  margin: 10px 0;
}

#all_title_view,
#default_title_view {
  font-weight: 700;
  margin: 1em 0 10px;
}

ul#archive_info div {
  display: inline
}

div.TIME {
  margin-left: 5px
}

ul.menu_bookmark {
  list-style-position: outside
}

html {
  margin-top: 0!important
}

#post span table {
  display: block
}

div.COMMENT {
  border: 1px #d3d3d3 solid;
  background: #f7f7f7;
  width: 400px;
  margin: 20px auto 0 0;
  padding: 15px;
}

div.COMMENT_BODY {
  margin-bottom: 20px;
  line-height: 130%;
}

div.COMMENT_TAIL {
  font: 8pt/150% tahoma;
  color: #777;
  margin: 8px 0 5px;
}

div.COMMENT_INPUT {
  margin-top: 20px;
  border-top: 1px #aaa dotted;
  padding-top: 20px;
}

div.COMMENT_LINE {
  border-top: 1px #aaa dotted;
  margin: 10px 0 15px;
}

* {
  line-height: 1.5;
  color: #666;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  background: #F9F9F9;
  font-family: "Helvetica","Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W6","ＭＳ Ｐゴシック",Osaka,sans-serif;
  font-size: small;
  font: x-small;
  margin: 0 10px;
  -webkit-text-size-adjust: none;
}

p {
  margin: .8em 0
}

h2,
h3 {
  line-height: 1.2;
  margin: 0;
}

#header {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#logo h1,
#logo div {
  display: inline;
}

#logo h1 img {
  margin-bottom: -8px;
  width: 203px;
  height: 30px;
  /* For IE6 */
  position: relative
}

#logo h1 a,
#shop-copy,
#ruby {
  color: #6B492D !important;
}

#ruby,
h1 {
  font-size: 13px;
}

a.fb-icon:hover,
#logo h1:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "alpha( opacity=80 )";
  -moz-opacity: 0.8;
}

div#sitename {
  position: relative
}

h2 {
  font-size: 120%
}

h3 {
  font-size: 110%;
  margin: 1.2em 10px .2em;
}

ul,
ol,
dl {
  list-style-position: inside;
  margin: .8em 0;
  padding: 1px 0;
}

dt,
dt label,
div.mntitle {
  color: #8B4513
}

dt {
  margin: .8em 10px 0 0
}

div.COMMENT_INPUT input[type="SUBMIT"] {
  background-color: #F5F5F5;
  border: 1px solid #AAA;
  color: #666;
  text-decoration: none;
  height: auto!important;
  width: 100px!important;
  cursor: pointer;
  font-weight: 700;
  padding: 7px;
}

div#header,
div#content,
div#footer {
  width: 880px;
  text-align: left;
  margin: auto;
}

div#pager {
  margin-bottom: 5px
}

div#post {
  float: left;
  width: 630px;
}

div#sidemenu {
  float: right;
  width: 170px;
  margin: 0 0 0 20px;
}

div#sidemenu input[type="SUBMIT"] {
  display: none;
}

div#header ul {
  margin: 0;
}

.menuitem {
  margin: 20px 0
}

.mntitle {
  border-bottom: 1px solid #AAA
}

div#logoimage {
  margin-top: 20px
}

div#logoimage img {
  height: 113px;
  width: 170px;
}

div#lead-image img,
#content img.IMAGE_MID {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
}

div#lead-image img {
  height: 280px;
  width: 880px;
}

#lead-image img {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

#sidemenu input[type="TEXT"] {
  width: 123px;
  margin-top: 6px;
  padding: 2px 15px 2px 30px;
  background: url('http://coupe-baguette.com/assets/blog/search.png') no-repeat 8px 3px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  border:1px solid #d0d0d0;
  background-color:#fcfcfc;
}

div.postsubject {
  margin-top: 20px;
  height: 22px;
  border-bottom: 1px solid #AAA;
}

h2.subj {
  float: left;
  width: auto;
}

div.postdate {
  float: right;
  width: 100px;
  text-align: right;
  font-size: 90%;
  margin-top: 6px;
  color: #666;
}

div.postadmin {
  float: right;
  width: 100px;
  text-align: right;
  font-size: 90%;
  margin-top: 5px;
  color: #666;
}

div#content {
  padding-bottom: 20px
  margin-top: 10px;
}

div.postadmin *,
div.posttail *,
div#pager *,
address,
div.TIME {
  color: #666
}

div.cmtjs {
  margin-bottom: 50px
}

div.XML,
div.BANNER,
div.exHeader,
#post table,
#adminmenu,
.exblog_cpc,
.bbs_preview {
  display: none
}

div#cburl + div + div + div + div + div div.mntitle,
div.BANNER + center {
  display: none
}


div.COMMENT:empty {
  display: none
}

.view_pager,
ul#archive_info {
  margin: 10px 0
}

h2,
h2.subj a,
h2.subj span,
a:hover,
div#pager a:hover,
div.postadmin a:hover,
div.posttail a:hover,
div.TIME a:hover,
div.postsubject h2.subj a:hover,
#archive_name a:hover,
#archive_info a:hover,
#sidemenu a:hover,
#nav a:hover {
  color: #cd4730
}

h2.subj a[style="display:inline;"]:hover {
  color: #cd4730
}

a:link,
a:visited {
  color: #666;
  text-decoration: none;
}

dd,
dd p {
  margin: 0
}

div.COMMENT_INPUT textarea {
  font-size: 90%;
  border: 1px solid #AAA;
  color: #666;
  width: 320px;
  padding: 4px 2px;
}

div.COMMENT_INPUT input[type="TEXT"],
div.COMMENT_INPUT input[type="PASSWORD"] {
  font-size: 90%;
  border: 1px solid #AAA;
  color: #666;
  width: 320px;
  padding: 4px 2px;
}

div#header ul:after,
div#content:after,
div.postsubject:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
}

div.TIME a:link,
div.TIME a:visited {
  color: #666;
  text-decoration: none;
}

span#archive_name a:link,
span#archive_name a:visited,
span#archive_name {
  color: #666
}

h2.subj a[style="display:inline;"]:link,
h2.subj a[style="display:inline;"]:visited {
  color: #666
}

#lead-header {
  color: #444;
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 3px 0;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #666;
}

#footer {
  margin: 25px auto !important;
  line-height: 16px;
  padding-top: 5px;
  border-top: 1px solid #E6E6E6;
}

#copyright {
  color: #666;
}

#header-sub {
  position: relative;
}

#header-main {
  margin-top: 6px;
}

#nav {
  position: absolute;
  top: 0;
  right: 0;
}

#nav ul {
  padding: 0;
}

#nav li {
  float: left;
  margin-left: 20px;
  font-size: 13px;
  font-weight: bold;
  list-style: none;
}

#nav li a {
  color: #333;
  padding: 5px;
}

a.fb-icon img {
  width: 16px;
  height: 16px;
}

a img {
  border: none;
}
