.text.post { font-size: 120%; }
#header h1 a, #description {
    font-family: 'Avalon', sans-serif;
}
.post h2 a { color: #cd4730; }
#sidebar { float: right; }
#content { float: left; }
#content .text img {
    max-width: 500px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.list-inline { display: inline-block; }