body, h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a {
    font-family: "Helvetica","Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W6","ＭＳ Ｐゴシック",Osaka,sans-serif;
}
.text.post, .photo.post { font-size: 120%; }
.photo.post p a { color: #919191; }
.photo.post p a:hover, .postmeta a:hover { color: #cd4730; }
.postmeta a:hover { border-bottom: 1px dotted #DDD; }
#header h1 a, #description {
    font-family: 'Avalon', sans-serif;
}
.post h2 a { color: #cd4730; }
#sidebar { float: right; }
#sidebar hr { border: 1px dotted #DDD; }
#sidebar .facebook,
#sidebar .online-shop {
    display: inline-block;
    margin-right: 5px;
}
#content { float: left; }
#content .text img,
#content .photo img,
.avatar img {
    max-width: 500px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.list-inline { display: inline-block; }