.text.post { font-size: 120%; }
#header h1 a, #description {
    font-family: 'Avalon', sans-serif;
}
.post h2 a { color: #cd4730; }
#sidebar { float: right; }
#content { float: left; }
#content .text img { max-width: 500px; }